

/* ------------------- HERO ------------------ */

@media screen and (min-width: 480px){
    .container{
        max-width: 428px;
    }

  /* .benefits.container {
      width: 396px;
  } */
  .footer-input {
   width: 396px;
  }
} 