:root {
/* ----Fonts--- */
--main-font: 'Roboto', Tahoma, sans-serif;
--secondary-font: 'Raleway', Tahoma, sans-serif;

/* ----Text color---- */
--main-text-color:#434455;
--secondary-text-color: #2e2f42;
--accent-text-color:#4D5AE5;
--active-text-color:#404bbf;
--light-text-color:#FFFFFF;
--logo-text-color:#F4F4FD;
--footer-text-color:#E7E9FC;
--label-text-color:#8e8f99;
--check-text-color:#757575;;

/* ----Batton color---- */
--btn-accent-color:#4D5AE5;
--btn-ligth-color:rgb(244, 244, 253);
--btn-active-color:#404BBF;
--btn-modal-color:#E7E9FC;

/* ----Border color---- */
--border-color:#E7E9FC;
--border-icon-color:#8E8F99;
--accent-border-color: #404BBF;
--border-form-color: #4D5AE5;

/* ----Background color---- */
--bg-dark-color:#2E2F42;
--bg-ligth-color: #f4f4fd;
--bg-superligth-color: #ffffff;
--bg-icon-color:#4D5AE5;
--bg-overlay-color:#4D5AE5;
--bg-modal-color:#FCFCFC;
--bg-psevdo-color:#404BBF;


/*  ---- Icons ---- */
--icon-color:#8e8f99;
--icon-ligth-color: #F4F4FD;
--accent-icon-color:#404BBF;
--icon-bg-color:#31D0AA;
--icon-form-color:#2e2f42;
--icon-close-color: #ffffff;


/* -------Flex------ */
--items: 4;
--indent: 24px;

/* -----Transition----- */

--animate-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* ---------------- RESET ----------------- */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}
.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

/* -------------- BASE STYLE ----------------- */
body {
    font-family: var(--main-font);
    color: var(--main-text-color);

}
.title {
    margin-bottom: 60px;

    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.post-title{
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height:calc(24 / 20);
    color:var(--secondary-text-color)
}

.text {
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
}

.btn {
    min-width: 169px;
    min-height: 56px;


    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    justify-content: center;
   
    border-style: none;
    border-radius: 4px;

}

.container {
   
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

.section {
    padding-top: 96px;
    padding-bottom: 140px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--indent);
}


.card-set-item {
    /* flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / (var(--items))); */


}


/* ------------------ OTHER ---------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* ---------------- HEADER --------------- */
.header-section {
    border-bottom: 1px solid var(--border-color);
}
.header-container {
    display: flex;
    align-items: center;
    gap: 76px;
}

.logo-link {
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.header-logo {
    color: var(--secondary-text-color);
}

.nav-list {
    display: none;
}

.address-list {
    display: none;
}


.nav-link:hover,
.nav-link:focus,
.header-address:hover,
.header-address:focus {
    color: var(--active-text-color);
}


.mob-menu-container{
    padding: 40px;
    /* position: relative; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-open {
    width: 32px;
    height: 22px;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.menu-open-icon {
    stroke: var(--icon-form-color);
}

.mob-menu{
    position: fixed;
    z-index: 500;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    background-color: var(--bg-superligth-color);
}

.btn-menu-close{  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        /* position: absolute;
        top:24px;
        right: 24px; */
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 16px;
    background-color: var(--btn-modal-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-nav-list {
    margin-bottom: 40px;
}

.mob-item {
    font-weight: 700;
    font-size: 36px;
    line-height: calc (40 / 36) ;
    letter-spacing: 0.02em;
   
    color: var(--secondary-text-color);
}

.mob-item:not(:last-child){
    margin-bottom: 40px; 
}

 .mob-link.current {
     color: var(--active-text-color);
 }

.mob-address-tel{
    display: block;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 36px;
    line-height: calc (40 / 36);
      
    color: var(--accent-text-color);
     
    color: #4D5AE5;

}
.mob-address{
    display: block;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc (24 / 20);

    letter-spacing: 0.02em;


    color: var(--main-text-color);
}

.mob-soc-list {
    display: flex;
    justify-content: space-between;
}

/* ------------------- HERO ------------------ */
.hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--bg-dark-color);
}


.bg-hero {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .bg-hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-mobile-2x.jpg);
            }
        }
@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
    .bg-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-bg-mobile-3x.jpg);
    }
}


.hero-title {
    max-width: 319px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--light-text-color);
}

.hero-btn {
    padding: 16px 32px;
    color: var(--light-text-color);
    background: var(--btn-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color var(--animate-func);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-active-color);
}
/*  ---------------- BENEFITS ----------------- */
.section {
    padding-bottom: 96px;
}
.benefits.container {
    max-width: 410px;
    padding-left: 11px;
    padding-right: 11px;
    --indent: 72px;
}

.benefits-item> .text {
    font-weight: 500;
}

.benefits-item>.post-title
{
    font-weight:700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
}

/* .benefits-item {
    flex-grow: 1;
} */

.icon-wrap {
    display: none;
}



/* ----------------- ACTIVITY ----------------- */
.section-activity {
    display: none;
}


/* работает и без изменения переменной items */
/* .activity-item {
--items: 3;
} */


/* ------------------ TEAM ------------------ */
.team-section {
    padding-bottom: 128px;
    background-color: var(--bg-ligth-color);
}
.team-section .title{
    margin-bottom: 72px;
}

 .team-section .card-set{
  --indent: 72px;  
}

.team-card {
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-wrap{
    padding: 32px 16px;

    text-align: center;
    background-color: var(--bg-superligth-color);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}
.team-wrap>.card-set{
    --indent: 24px;
}

.team-text {
    margin-bottom: 8px;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-icon-color);
    border-radius: 50%;

    transition: background-color var(--animate-func);
}
.social-icon {
    fill: var(--icon-ligth-color);

    /* transition: fill var(--animate-func); */
}

/* изменения заливки в иконок при ховере в ТЗ нет */
/* .social-link:hover .social-icon,
.social-link:focus .social-icon {
fill: var(--accent-icon-color);
} */

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-icon-color);
}




/* ---------------- CUSTOMERS ----------------- */
.costomers-section {
    padding-bottom: 91px;
}
.costomers-section .title {
    margin-bottom: 72px;
    
}

.costomers-section .card-set {
    row-gap: 72px;
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--border-icon-color);
    border-radius: 4px;
    color: var(--icon-color);

    transition: color var(--animate-func), border-color var(--animate-func);
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    color: var(--accent-icon-color);
    border-color: var(--accent-border-color);
}

/* ------------------ FOOTER ----------------- */
.footer {
    padding-top: 96px;
    padding-bottom: 96px;

    background-color: var(--bg-dark-color);
}


.logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    
    /* margin-bottom: 16px; */
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: calc(21 / 18);

    color: var(--accent-text-color);
}

.footer-logo {
  
    color: var(--logo-text-color);
}

.footer-text {
    max-width: 264px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    color: var(--footer-text-color);
}

.text-title {
    margin-bottom: 16px;
    font-weight: 500;
   text-align: center;
    color: var(--light-text-color);
}

/* .footer-left-side {
    margin-right: auto;
    margin-left: auto;
} */

.footer-midle .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--animate-func);
}

.footer-midle .social-link:hover,
.footer-midle .social-link:focus {
    background-color: var(--icon-bg-color);
}



.footer-midle { 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}

.footer-midle>.card-set {
    gap: 16px;
}

.footer-wrap-form>.card-set {
gap: 16px;
}


.footer-input {  

    max-width: 396px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--light-text-color);
    outline: transparent;
    cursor: pointer;
    transition: border-color var(--animate-func);
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: calc (24 / 12);
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
    border-color: #4D5AE5;
}

.footer-form-btn {
    min-width: 165px;
    min-height: 40px;

    display: flex;
    gap: 16px;

    text-align: center;
    letter-spacing: 0.04em;

    background-color: var(--btn-accent-color);
    border-radius: 4px;
    color: var(--light-text-color);

    transition: background-color var(--animate-func);
}

.footer-form-icon {
    fill: currentColor;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--btn-active-color);
}

/* ---------------- PORTFOLIO ----------------- */
.section-portfolio {
    padding-top: 48px;
    padding-bottom: 48px;

}

.btn-portfolio {
    min-width: 0px;
    min-height: 0px;

    /* padding: 12px 24px; */
    padding: 8px 16px;
    color: var(--accent-text-color);
    background-color: var(--btn-ligth-color);
    border: 1px solid var(--border-color);

    transition: color var(--animate-func), background-color var(--animate-func), box-shadow var(--animate-func);
}


.btn-portfolio:hover,
.btn-portfolio:focus {
    color: var(--light-text-color);
    background-color: var(--btn-active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
   justify-content: start;
    gap: 24px;

    margin-bottom: 48px;
    margin-right: 19px;
}

.portfolio-card {
    padding: 32px 16px;
    background-color: var(--bg-superligth-color);
    border: 1px solid var(--border-color);
    border-top: none;
}

.portfolio-link{
    display: block;

    transition: box-shadow var(--animate-func);
}

.portfolio-link:hover,
.portfolio-link:focus  {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-set {
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-wrap {
    position: relative;

    overflow: hidden;
}

.overlay-portfolio {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    color: var(--logo-text-color);
    background-color: var(--bg-overlay-color);

    transform: translate(0, 100%);
    transition: transform var(--animate-func);

}

.portfolio-link:hover .overlay-portfolio,
.portfolio-link:focus .overlay-portfolio {
    transform: translate(0, 0);
}

/* -------------- MODAL WINDOW ------------ */
.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity var(--animate-func), visibility var(--animate-func);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal-window{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);




    width: 392px;
    height: 586px;
    padding: 16px; 
   
    /* width: 408px;
    height: 576px; */
    /* padding: 24px; */

    background-color: var(--bg-modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--animate-func), opacity var(--animate-func);
}



.backdrop.is-hidden .modal-window{
    opacity: 0;
    transform: rotate(90deg) ;     
}

.btn-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* position: absolute;
    top:24px;
    right: 24px; */
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-bottom: 24px;
    background-color: var(--btn-modal-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: background-color var(--animate-func);
}

.btn-modal:hover,
.btn-modal:focus {
    background-color: var(--bg-psevdo-color);
}

.icon-close {
    transition: fill var(--animate-func);
}

 .btn-modal:hover .icon-close,
 .btn-modal:focus .icon-close{
     fill: var(--icon-close-color);
 }



    /* ---------------- MODAL FORM ------------------ */
.modal-form-text {
    margin-bottom: 16px;
    font-weight: 500;   
    text-align: center;
   
    color:var(--secondary-text-color);
}

.modal-form-label{
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color:var(--label-text-color);

}
    
.modal-form-wrap {
    position: relative;
    margin-bottom: 8px;
}
.input-form {
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    color: var(--secondary-text-color);
    outline: transparent;
    cursor: pointer;

    transition: border-color var(--animate-func);
}

.input-form:focus {
    border-color: var(--border-form-color);
}


.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--icon-form-color);

    transition: fill var(--animate-func);
}

.input-form:focus+.form-icon {
    fill: var(--bg-icon-color);
}

.modal-comment {
    width: 100%;
    height: 120px;
    resize: none;
    overflow: auto;
    padding-left: 16px;
    margin-bottom: 16px;
}

.modal-comment::placeholder {
    font-size: 12px;
    line-height: calc(16 / 12);
               
            
    color: rgba(117, 117, 117, 0.5);
}

.check-label{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 24px;
    user-select: none;
    cursor: pointer;
    font-size: 12px;
    line-height: calc (16 / 12);
    letter-spacing: 0.04em;

    color: var(--check-text-color);
}

.check-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;

    transition: background-color var(--animate-func), border var(--animate-func);
}
.check-icon {
    fill: transparent;

    transition: fill var(--animate-func);
}

  

.modal-input-check:checked +.check-label .check-wrap {
   background-color: var(--bg-psevdo-color);
   border: none;
}


.modal-input-check:checked +.check-label .check-icon {
    fill: var(--icon-ligth-color);
}

.modal-form-link{
    color: var(--accent-text-color);
    text-underline-offset: 1px;
}

.modal-form-btn{
    padding: 8px 24px;
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    
    background-color: var(--btn-accent-color);
    border-radius: 4px;
    color: var(--light-text-color);
    
    transition: background-color var(--animate-func);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background-color: var(--btn-active-color);
}